{% extends 'base.html.twig' %}

{% block title %} Portfolio{% endblock %}

{% block body %}
  <header>
      <!-- Static navbar -->
      <nav class="s navbar navbar-default navbar-fixed-top">
        <div id="nav" class="container">
          <div class="navbar-header">
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a class="page-scroll" href="#home">Home</a></li>
              <li><a class="page-scroll" href="#about">About</a></li>
              <li><a class="page-scroll" href="#portfolio">Projets</a></li>
              <li><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </header>

    <div id="home" class="container-fluid">
       <div id="front" class="row">
            <div class="col-sm-12">
                <h1 class="redressed"><span>Nadia<span></span>Mnasri</h1>
                <p class="redressed">Développeuse web junior</p>
                <a class="btn btn-default hvr-bounce-to-right" href="https://gitlab.com/mnasri82" target="_blank" role="button">
                    <i class="fa fa-github"></i> Gitlab</a>
                <a class="btn btn-default hvr-bounce-to-right" href="https://www.linkedin.com/in/nadia-mnasri-39582a183/" target="_blank" role="button">
                    <i class="fa fa-linkedin"></i> LinkedIn</a>
                  <a class="btn btn-default hvr-bounce-to-right" href="./assets/images/cv.pdf" data-fancybox="images"  data-caption="My caption" target="_blank" role="button">
                    <i class="fa fa-linkedin"></i> CV</a>
            </div>
        </div>
      
    </div>

    <div id="about" class="container-fluid">
      <div class="row">
        <div class="col-sm-12 about">
          <h1>Qui suis-je</h1>
         	<img  id="ma_photo" class="img-responsive  " src="./assets/images/IMG_20190410_161620.jpg"  alt="image personne">
          <h2 class="h">Hello World</h2>
          <p>En reconversion professionnelle, je suis actuellement en formation développement web et mobile.</p> 
           <p>J'étudie en pédagogie active ce qui me permet d'apprendre de nouveaux languages et de m'adapter aux nouvelles technologies. J'aime relever les defis, je suis passionnée et je souhaiterais continuer à me former en alternance. </p>
          <h2 class="h"><b>Compétences</b></h2> 
          <p class="p">Langages: Html,Css,JavaScript(JQuery),Php,Sass</p>
          <p>Frameworks Php: Symfony</p>
          <p>Databases: MySQL</p>
          <p>Frameworks Css: Bootstrap, Semantic</p>
          <p>Frameworks JS: Angular</p>
          <p>Cms: WordPress</p>
        </div>
      </div>
      
    </div>

    <div id="portfolio" class="container-fluid">
      <h2 class="bold">Projets</h2>
      
      <div class="row">
        <div class="col-md-6 portfolio">
          <figure>
            <a href="{{ path('projet1') }}" target="_blank"><img alt="baby" src="https://static.vecteezy.com/system/resources/previews/000/150/619/non_2x/crying-baby-with-baby-elements-vectors.jpg" class="img-responsive"></a>
          </figure>
          <h2>CRY BABY</h2>
          <p>Jeu realisé en Html, Css,Sass, JavaScript, Bootstrap</p>
        </div>
        <div class="col-md-6 portfolio">
          <figure>
            <a href="{{ path('projet2') }}"target="_blank"><img alt="tictactoe" src="https://is1-ssl.mzstatic.com/image/thumb/Purple115/v4/8d/79/18/8d7918e8-551f-7133-3f3c-f94e4a531782/AppIcon-1x_U007emarketing-85-220-4.png/246x0w.jpg" class="img-responsive"></a>
          </figure>
          <h2>TIC TAC TOE</h2>

          <p>Jeu realisé en Html, Css, JavaScript, Bootstrap</p>
        </div>
         <div class="col-md-6 portfolio">
          <figure>
            <a href="{{ path('todo_list') }}" target="_blank"><img alt="todo_list" src="https://www.asiplanning.com.au/wp-content/uploads/2017/11/Council-ToDo-List.jpg" class="img-responsive"></a>
          </figure>
          <h2>TODO_LIST</h2>

          <p>Todo_List realisée en Html, Css, Symfony, Bootstrap</p>
        </div>
         <div class="col-md-6 portfolio">
          <figure>
            <a href="{{path('portfolio') }}" target="_blank"><img alt="portfolio" src="https://res.cloudinary.com/omiq17/image/upload/q_auto/v1501085935/portfolio/desk_viadd9.jpg" class="img-responsive"></a>
          </figure>
          <h2>PORTFOLIO</h2>

          <p>Portfolio realisé en Html, Css,Sass, Symfony,JQuery, Bootstrap</p>
        </div>
      </div>

     
    <div id="contact" class="container">
      <div class="row  contact">
        <div class="col-sm-12">
        <h4>Contact</h4>
        <h2>Mnasri Nadia</h2>
        <p class="city">GRENOBLE</p>
        <div class="group">
                <img class="image2" src="https://image.flaticon.com/icons/png/512/54/54718.png" alt="icon-phone">
                <a class="phone" href="tel:0601401391">06.01.40.13.91</a>
                </div>
                <div class="group">
                <img class="image2" src="https://image.flaticon.com/icons/png/512/14/14080.png" alt="icon-email">
                
                <a class="email" href="mailto:nadia.mnasri.simplon@gmail.com">nadia.mnasri.simplon@gmail.com</a>
                </div>
        </div>
      </div>
    </div>	
 
{% endblock %}
