{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags("bebe")}}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
crossorigin="anonymous">
{% endblock %}

{% block header %}
 <title>Cry Baby</title> 

 
{% endblock %}
{% block body %}  

<div class="content1">

<div class="image">  
    <img id="ibaby" src="./assets/images/smile.png"  alt="picture baby smile"/>
  
    <img id="obaby" src="./assets/images/intero.png" alt="picture interrogation point"/>
   </div>
   
   <div class="boutons">
     <button type="button" class="btn btn-danger btn-circle btn-xl" id="btnmanger">nourrir</button>
     <button type="button" class="btn btn-danger btn-circle btn-xl" id="btnchanger">changer</button>
     <button type="button" class="btn btn-danger btn-circle btn-xl" id="btnjouer">jouer</button>
   </div>
   </div>
    <p id="Over">GAME OVER</p>


{% block javascripts %}

{{ encore_entry_script_tags('baby') }}


{% endblock %}
{% endblock %}