{% extends 'base.html.twig' %}


{% block title %}Tictactoe{% endblock %}
{% block stylesheets %}
{{ encore_entry_link_tags("tac")}}
 <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet"> 
{% endblock %}
{% block header %}

{% endblock %}
{% block body %}


    <div class="container1">
        <section class="col-lg-12">
        <div class="section">
            <h1>Le jeu du tic-tac-toe</h1>
            <div id="Jeu">
                <div>
                    <!-- ici tous les boutons sont à data-joueur="0" au départ -->
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src="./assets/images/empty.png "  alt="picture empty" width="100px" />  
                            
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src="./assets/images/empty.png" alt="picture empty" width="100px" /> 
                         
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src="./assets/images/empty.png " alt="picture empty" width="100px" /> 
                         
                </div>
                <div>
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src= "./assets/images/empty.png " alt="picture empty" width="100px" /> 
                           
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src= "./assets/images/empty.png " alt="picture empty" width="100px" /> 
                        
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src="./assets/images/empty.png" alt="picture empty" width="100px" /> 
                            
                </div>
                <div>
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src= "./assets/images/empty.png " alt="picture empty" width="100px" /> 
                           
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src= "./assets/images/empty.png " alt="picture empty" width="100px" /> 
                          
                    <button type="button" class="b-square btn btn-secondary" data-joueur="0"><img src= "./assets/images/empty.png" alt="picture empty" width="100px" /> 
                           
                </div>

 





                <div id="StatutJeu"></div>
           
            <footer class="pied" style="margin-top: 15px;">
            </div>
            </footer>



        </section>

  {% block javascript %}
  
{{ encore_entry_script_tags("app")}}
{{ encore_entry_script_tags("tic")}}
           
  <script src="{{asset('vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{asset('vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
{% endblock %}
{% endblock %}