

  {% block stylesheets %}
   {{ encore_entry_link_tags('todo') }}
  {% endblock %}
{% block content %}


    
      <div class="header">
      <h2>My To Do List</h2>

      <form  method="POST" action="{{path('create_task')}}">

        <input name="title" class="input" type="text" id="myInput" placeholder="Task title..." />
        <button class="button" type="submit" class="addBtn">Add a task</button>
      </form>
    </div>
  
    <ul>
    {% for task in tasks %}
      <li {% if task.status %} class="checked" {% endif %}>
        <a href="{{path('switch_status' ,{'id':task.id})}}"> <span class="task-list-item1">{{ task.title }} </span> </a
        ><a onclick="return confirm('Are you sure to delete?')" href="{{path('task_delete' ,{'id': task.id })}}"> <span class="close">X</span></a>
      </li>
      
      {% endfor %}
    </ul> 
     {% block javascripts %}
  {{ encore_entry_script_tags('app') }}
    {% endblock %} 
    {% endblock %} 