body{
  background-image: url('https://png.pngtree.com/thumb_back/fw800/back_pic/05/12/61/29599a30a76af88.jpg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.btn-circle.btn-xl {
   width: 200px;
   height: 70px;
   padding: 20px 16px;
   font-size: 24px;
   line-height: 1.33;
   border-radius: 35px;
   margin-right: 20px;
   margin-left: 20px
    
   
 }

 .image {
   width: 300px;
   height: 300px;
   text-align:center;
   margin: auto;
   margin-bottom: 180px;
 }
#obaby{
  width: 130px;
  height: 130px;
}



.boutons{
   margin-top: 100px;
   display: flex;
   text-align:center;
   margin: auto;
}  
.content1{
    margin-top: 100px !important;
    background-color:pink;
    width: 700px;
    height: 700px;
    border-radius: 100px;
    margin: auto;
}

#Over{
    display:none;
    position:relative;
    bottom : 550px;
    font-size: 80px
   
   
}



@mixin anim($name, $dur, $iterate) {
    animation-name: $name;
    animation-duration: $dur;
    animation-iteration-count:$iterate;
  }
  

  
#Over {
    font-family: 'VT323', ;
    font-size:8em;
    text-align:center;
    @include anim(example, 1s, infinite);
  }
  
  @keyframes example {
    0%{color:rgb(166, 183, 240); text-shadow:0 0 20px green}
    25%{color:rgb(37, 15, 233); text-shadow:2px 2px 2px lime; transform: translate(-2px,1px)}
    40%{color:rgb(102, 95, 201); text-shadow:none; transform: translate(0,0)}
    50%{color:rgb(4, 5, 58); text-shadow:5px 5px 2px blue, -5px -5px 2px red; transform: translate(0px,5px)}
    70%{color:rgb(31, 47, 197); text-shadow:none; transform: translate(0,0)}
    80%{color:rgb(5, 4, 56); text-shadow:0 0 20px green; transform: translate(-2px,1px)}
    100%{color:rgb(28, 60, 165); text-shadow:none;}
  }