
body {
 
  margin: 0;
  min-width: 250px;
}

 
* {
  box-sizing: border-box;
}

 
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #6d6961;
}

 
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #fcf2cb;
  font-size: 18px;
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
 
ul li:nth-child(odd) {
  background: #fcf2cb;
}


ul li:hover {
  background: #dbc8b9;
}

 
ul li.checked {
  background:black;
  color: #fff;
  text-decoration: line-through;
}
 
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #ffb00d;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

 
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #bc2d19;
  color: white;
}


.header {
  background-color:pink;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

 
.header:after {
  content: "";
  display: table;
  clear: both;
}
 
input {
  margin: 0;
  border: none;
  border-radius: 20px;
  width: 75%;
  height: 50px;
  padding: 10px;
  float: left;
  font-size: 16px;
}

 
.button {
  padding: 8px;
  width: 400px;
  background: rgb(247, 206, 206);
  height: 50px;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 30px;
  font-weight: bold;
}

.button:hover {
  background-color:plum;
}

.task-list-item {
    display: block;
}

